albumentations==0.5.2
click==7.1.2
fasttext==0.9.2
gensim==3.8.3
ipython==7.20.0
ipykernel==5.4.3
matplotlib==3.3.4
opensmile==1.0.1
optuna==2.5.0
pandas==1.2.1
pylint==2.6.0
pytorch-lightning==1.1.7
scikit-learn==0.24.1
seaborn==0.11.1
torch==1.7.1
torchvision==0.8.2
torchtext==0.8.1
torch_optimizer==0.1.0
